<!-- @TOC -->
<!-- =================================================== -->
<!--
      + @Page Loader
      + @App Content
          - #Left Sidebar
              > $Sidebar Header
              > $Sidebar Menu
          - #Main
              > $Topbar
              > $App Screen Content
    -->

<!-- @Page Loader -->
<!-- =================================================== -->
<!-- 
<div id='loader'>
    <div class="spinner"></div>
</div> 
-->

<!-- 
<script>
    window.addEventListener('load', function load() {
        const loader = document.getElementById('loader');
        setTimeout(function () {
            loader.classList.add('fadeOut');
        }, 300);
    });
</script> 
-->

<!-- @App Content -->
<!-- =================================================== -->
<div #appMain *ngIf="isLoggedIn">
    <app-sidebar></app-sidebar>
    <!-- #Main ============================ -->
    <div class="page-container">
        <!-- ### $Topbar ### -->
        <app-navbar (toggleSidebar)="parrentEventHandlerFunction($event)"></app-navbar>

        <!-- ### $App Screen Content ### -->
        <main class='main-content bgc-grey-100'>
            <div id='mainContent'>
                <!-- ### App Modules or Components -->
                <!--
                <div class="row gap-20 masonry pos-r">
                    <div class="masonry-sizer col-md-6"></div>
                    <div class="masonry-item col-{breakpoint}-*"></div> 
                </div>
                -->
                <!--
                    <div class="full-container">...</div>
                -->
                <router-outlet></router-outlet>
            </div>
        </main>

        <!-- ### $App Screen Footer ### -->
        <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
            <span>Copyright © 2021 Designed by <a href="https://colorlib.com" target='_blank'
                    title="Colorlib">Colorlib</a>. All rights reserved.</span>
        </footer>
    </div>
</div>

<router-outlet *ngIf="!isLoggedIn"></router-outlet>
